@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* MAIN */
.container {
    width: 1296px;
    margin: 0 auto;
    text-align: center;
}


/* FONTS */
h1 {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

p {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.navigation a {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.basket-price {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.selected-products {
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.footer-content p {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* FONTS PRODUCT CARD*/

.books-name {
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.books-author {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.price-new {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.price-before {
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
}




/* BUTTONS PRODUCT CARD*/
.add-to-basket {
    color:#F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    width: 100%;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background-color: #4C394E;
}

.add-to-basket:hover {
    background-color: #744978;
}

.remove-from-cart {
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    width: 100%;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background-color: #4D762D;
}

.remove-from-cart:hover {
    background-color: #6DB236;
}



/* HEADER 1 */
.header-first {
    width: 100%;
    position: fixed;

    background: #10BBD5;
    padding-top: 22px;
    padding-bottom: 22px;
}

.header-first-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.logo a {
    display: flex;
    gap: 6px;
    align-items: center;
}
.logo p {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-book {
    height: 22px;
    width: 21px;
}

.basket {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.button-basket {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    position: relative;
}

.button-basket p {
    position: absolute;
    top: 12px;
    left: 22px;
}

.basket-icon {
    width: 33px;
    height: 33px;
}

/* HEADER 2*/
.header-second {
    width: 100%;
    position: fixed;
    top: 72px;

    background-color: white;
    padding: 4px 0px;
}

.header-second-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


/* MAIN */
.main {
    padding-top: 104px;
    background-color: #EEEEEF;
    padding-bottom: 120px;
}

.title {
    margin-bottom: 24px;
    padding-top: 32px;
    padding-bottom: 23px;
    border-bottom: solid 1px #A8A8A8;
    text-align: left;
}

/* product card */
.product-cards-list {
    display: grid;
    grid-template-columns: repeat(4, 308px);  
    column-gap: 24px;
    row-gap: 32px;
}

.product-card {
    width: 242px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: #F8FDFE;
    border: solid 1px #A8A8A8;
}

/* CARD BADGE */
.card-badge {
    display: flex;
    flex-direction: row;
    gap: 4px;

    position: absolute;
}

.badge-new {
    width: fit-content;

    padding: 8px;
    border-radius: 4px;

    color: #F8FDFE;
    background-color: #AF39E7;
}

.badge-hit {
    width: fit-content;
    
    padding: 8px;
    border-radius: 4px;

    color: #F8FDFE;
    background-color: #4200FF;
}

.badge-sale {
    width: fit-content;
    
    padding: 8px;
    border-radius: 4px;

    color: #F8FDFE;
    background-color: #EA33C0;
}

.product-card-photo {
    height: 280px;
    width: 178px;
    margin: 0 auto;
}
/* product card PHOTO*/
#final-offer .product-card-photo {
    background-image: url(../photo/Final\ Offer.jpg);
}
#first_line_of_the_directory .product-card-photo{
    background-image: url(../photo/It\ Ends\ With\ Us_\ The\ most.jpg);
}
#atomic-habits .product-card-photo {
    background-image: url(../photo/Atomic\ Habits.jpg);
}
#the-creative-act .product-card-photo {
    background-image: url(../photo/The\ Creative\ Act.jpg);
}
#spare .product-card-photo {
    background-image: url(../photo/Spare.jpg);
}
#digital-minimalism .product-card-photo {
    background-image: url(../photo/Digital\ Minimalism.jpg);
}
#meditations .product-card-photo {
    background-image: url(../photo/Meditations.jpg);
}
#how-to-think .product-card-photo {
    background-image: url(../photo/How\ to\ Think\ Like\ a\ Roman\ Emperor.jpg);
}
#meditations-of-marcus .product-card-photo {
    background-image: url(../photo/The\ Meditations\ of\ Marcus.jpg);
}
#lives-of-the-stoics .product-card-photo {
    background-image: url(../photo/Lives\ of\ the\ Stoics.jpg);
}
#dopamine-nation .product-card-photo {
    background-image: url(../photo/Dopamine\ Nation.jpg);
}
#i-dont-need-therapy .product-card-photo {
    background-image: url(../photo/I\ Don\t\ Need\ Therapy.jpg);
}



.product-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.books-name {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
}

.books-author {
    border-top: solid 1px #A8A8A8;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 24px;
}



/* FOOTER */
.footer {
    background-color: #4C394E;
    padding: 32px 0px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* BUTTON TO TOP */
.button-to-top {
    width: 64px;
    height: 64px;
    padding: 12px;
    border: none;
    border-radius: 60px;
    background-color: #10BBD5;

    position: fixed;
    right: 28px;
    bottom: 120px;
}

.button-to-top:hover {
    transform: rotate(12deg);
}